.main-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  align-items: center;
  /* border: 2px solid black; */
}
.main-box * {
  text-align: center;
}

.main-box h1 {
  margin: 40px;
  font-size: 60px;
  flex-wrap: nowrap;
}
.main-box p {
  font-size: 30px;
  margin-bottom: 20px;
}
.main-box input {
  height: 60px;
  width: 700px;
  font-size: 40px;
  background-color: transparent;
  border-radius: 10px;
  margin: 20px;
}
.main-box button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
}
