* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
body {
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  background-color: #d4d4d4;
}

.dummy {
  position: absolute;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4px;
}
.dummy p {
  text-align: center;
  color: #b4b4b4;
}

.menu-wrap {
  /* background-color: aqua; */
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px dashed rgb(166, 0, 0);
}
.menu-wrap > button {
  background-color: transparent;
  font-size: 23px;
  font-weight: bold;
  border: none;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.menu-wrap > button:hover {
  color: rgb(166, 0, 0);
}

.content-box {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.content-box #graph-box {
  border: 3px dashed #494848;
  width: 50vw;
  height: inherit;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #b4b4b4; */
}

.content-box #graph-box h1 {
  opacity: 40%;
}

.title {
  border: 3px dashed #494848;
  margin-right: 30px;
  width: 30vw;
  height: inherit;
  border-radius: 10px;
  /* background-color: #b4b4b4; */
}
.title div {
  display: grid;
  padding: 20px;
  /* border: 1px solid black; */
}
#title-box {
  display: flex;
  flex-direction: column;
  /* justify-content: top; */
  align-items: center;
  height: 65vh;
  overflow: auto;
  /* border: 1px solid black; */
}

#title-box button {
  border: 1px solid #494848;
  color: #494848;
  background-color: transparent;
  border-radius: 4px;
  width: 20vw;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
}

#content-header h1 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
}
